<!------ Include the above in your HEAD tag ---------->

<div *ngIf="user.active">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <div class="cover-area">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" [src]="user.coverImageId" alt="Profile image example" />
            <img align="left" class="fb-image-profile thumbnail" [src]="user.avatar" width="100 " height="100" alt="Profile image example" />
            <span></span>
            <div class="fb-profile-text">
                <h3>{{user.artistName}}</h3>
            </div>
        </div>
    </div>
    <!-- <section class="hero-section d-flex"> -->
    <div>
        <div class="col album">
            <span class="name btn" (click)="getAllSong()"> ALL</span>
            <div class="col col-sm-3" *ngFor="let playlist of playlists">
                <img [src]="playlist.listSong[0]?playlist.listSong[0].avatarImage:'assets/images/placeholder.png'" class="image-album" alt="Magnetism" (click)="setSong(playlist.listSong)" />
                <span class="name btn"> {{playlist.name}}</span>
            </div>
        </div>
    </div>
    <!-- </section> -->
    <!-- <div class="section">
    </div> -->
    <div class="containerr">
        <div class="row">
            <div class="offset-md-1"></div>

            <div class="col-8 col-mdr-12">
                <app-song-card *ngFor="let song of songs; let i = index" [song]="song" [user]="user" (songAddToCart)="addToCart($event)" (songAddToPlaylist)="addToPlaylist($event)" @songCardTrigger></app-song-card>
                <app-fetching (bottom)="loadSong()" *ngIf="page <= noPage"></app-fetching>
            </div>
        </div>
    </div>
</div>
<section class="hero-section d-flex" *ngIf="!user.active">
    <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="row">
            <div class="offset-md-1"></div>
            <div class="text-container col-10">
                <small>Error</small>
                <p>Your accout being disable cause copyright</p>

                <app-search-form></app-search-form>
                <a class="explor-btn" routerLink="/start">Explore</a>
            </div>
        </div>
    </div>
</section>
<app-playlist></app-playlist>
<!-- /container -->