<nav class="navbar">
    <div class="container">
        <div class="offset-md-1"></div>
        <div style="position: relative;left: -100px;" *ngIf="logged" (click)="toggleMenu()">
            <img src="assets/images/menu.svg" alt="">
        </div>
        <div class="navbar-logo">
            <a routerLink="/start"><img src="assets/images/logo.svg" /></a>
        </div>
        <app-search-form></app-search-form>
        <ul class="navbar-nav" *ngIf="logged">
            <li>
                <a *ngIf="_auth.isUser()" routerLink="/cart"> <i class="fas fa-shopping-cart"></i> {{ totalItem }}</a>
            </li>
            <li><a routerLink="/start/login">{{_auth.getUser().email}}</a></li>

        </ul>
        <ul class="navbar-nav" *ngIf="!logged">

            <li><a routerLink="/start/login">Login</a></li>
            <li class="btn"><a routerLink="/start/register">Join</a></li>
        </ul>
        <div class="offset-md-1"></div>
    </div>
</nav>

<aside class="side-menu" style="display:block; z-index: 99999" *ngIf="showMenu && logged">
    <div class="overlay" (click)="toggleMenu()"></div>
    <div class="list-container">
        <i class="fas fa-times close-icon" (click)="toggleMenu()"></i>
        <ul>
            <!-- <li (click)="toggleMenu()" *ngIf="!_auth.isAdmin() && !_auth.isUser()" routerLinkActive="active"><a [routerLink]="['/user', user? user.slug : '']">Profile</a></li> -->
            <li (click)="toggleMenu()" *ngIf="_auth.isArtist()" routerLinkActive="active"><a [routerLink]="['/artist', _auth.getUser()? _auth.getUser().artistId : '']">Profile</a></li>

            <li (click)="toggleMenu()" *ngIf="!_auth.isAdmin() && !_auth.isArtist()" routerLinkActive="active"><a [routerLink]="['/user']">My Songs</a></li>
            <li (click)="toggleMenu()" *ngIf="_auth.isArtist()" routerLinkActive="active"><a [routerLink]="['/upload']">Upload</a></li>
            <li (click)="toggleMenu()" *ngIf="_auth.isArtist()" routerLinkActive="active"><a [routerLink]="['/list-invoice']">Invoice</a></li>
            <li (click)="toggleMenu()" *ngIf="!_auth.isAdmin() && !_auth.isArtist()" routerLinkActive="active"><a [routerLink]="['/list-invoice']">Invoice</a></li>
            <li (click)="toggleMenu()" *ngIf="_auth.isArtist()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/setting">Settings</a></li>
            <li (click)="toggleMenu()" *ngIf="_auth.isAdmin()" routerLinkActive="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <li (click)="toggleMenu()" *ngIf="_auth.isAdmin()" routerLinkActive="active"><a [routerLink]="['/manage-artist']">Manage Artist</a></li>
            <li (click)="toggleMenu()" *ngIf="_auth.isAdmin()" routerLinkActive="active"><a [routerLink]="['/manage-tag']">Manage Tags</a></li>
            <li (click)="toggleMenu()" *ngIf="_auth.isAdmin()" routerLinkActive="active" (click)="showForm()">Set Fee ({{paymentService.fee}}%)</li>
            <form class="w-100 upload" [formGroup]="feeForm" *ngIf="_auth.isAdmin()&&show">

                <!-- <div class="col-1 flex-end number">
                <div class="form-group m-0">1.</div>
              </div> -->
                <div class="form-group m-0 col-6">
                    <label for="name"> <span>Value Of Fee</span></label>
                    <input type="text" id="name" autocomplete="off" formControlName="fee" />
                </div>

                <div class="form-group col-10 col-mdr-12">
                    <button (click)="setFee()" class="btn btn-success">OK</button>
                </div>

            </form>
            <li>Tags</li>
            <li style="position: relative;left: 20px;" routerLinkActive="active" *ngFor="let tag of tags; let i = index"><a (click)="toggleMenu()" [routerLink]="['/search', tag.id,tag.title]">{{tag.title}}</a></li>
        </ul>
        <ul>
            <li routerLinkActive="active"><a routerLink="/settings/change-password">Change Password</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</aside>