<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />


<div class="container">
    <h4>Manage Tags</h4>
    <button class="btn btn-success" (click)="showForm()">
        Add Tag
      </button>


    <form class="w-100 upload" [formGroup]="tagForm" *ngIf="show">

        <!-- <div class="col-1 flex-end number">
        <div class="form-group m-0">1.</div>
      </div> -->
        <div class="form-group m-0 col-6">
            <label for="name"> <span>Title</span></label>
            <input type="text" id="name" autocomplete="off" formControlName="title" />
        </div>

        <div class="form-group col-10 col-mdr-12">
            <button (click)="addTag()" class="btn btn-success">Add</button>
        </div>

    </form>
    <table class="table">
        <thead>
            <tr>
                <!-- <th></th> -->
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <!--   for (Todo todo: todos) {  -->
            <tr *ngFor="let tag of tags;let i = index">
                <td>{{ tag.id }}</td>
                <td (dblclick)="allowEdit(i)" *ngIf="!tag.edit">{{ tag.title }}</td>
                <input *ngIf="tag.edit" value="{{tag.title}}" (keyup)="change($event)">
                <td>
                    <button [disabled]="!tag.edit" (click)="update(i,tag.id,tag.title)" class="btn btn-success">
            Update
          </button>
                </td>
            </tr>
            <!-- } -->
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" *ngFor="let page of pageNumber"><a class="page-link" (click)="getPageTag(page-1)">{{page}}</a></li>
        </ul>
    </nav>
</div>