<!-- <div class="albuminfo">
    <div class="similar">
        <h4>Similar Albums</h4>
        <div class="similar-container">
            <a href="/album/813/magnetism" class="album-page-opener" data-id="813">
                <span>Magnetism</span>
                <img src="https://cdn.artlist.io/artlist-images/44797_Ian-Post-Magnetism-A.jpg" alt="Magnetism">
            </a>
            <a href="/album/601/autumn-spirits" class="album-page-opener" data-id="601">
                <span>Autumn Spirits</span>
                <img src="https://cdn.artlist.io/artlist-images/27731_Autumn-Spirits-A.jpg" alt="Autumn Spirits">
            </a>
            <a href="/album/438/benjamin" class="album-page-opener" data-id="438">
                <span>Benjamin</span>
                <img src="https://cdn.artlist.io/artlist-images/18418_Josh-Leake---Benjamin-A.jpg" alt="Benjamin">
            </a>
            <a href="/album/420/homage" class="album-page-opener" data-id="420">
                <span>Homage</span>
                <img src="https://cdn.artlist.io/artlist-images/18901_Suraj-Homage-A.jpg" alt="Homage">
            </a>
            <a href="/album/421/samsara-chakra" class="album-page-opener" data-id="421">
                <span>Samsara Chakra</span>
                <img src="https://cdn.artlist.io/artlist-images/17099_Suraj-Nepal-Samsara-Chakra-A.jpg" alt="Samsara Chakra">
            </a>
            <a href="/album/3434/norrland" class="album-page-opener" data-id="3434">
                <span>Norrland</span>
                <img src="https://cdn.artlist.io/artlist-images/425783_Beneath_the_Mountain_-_Norrland_-_A.jpg" alt="Norrland">
            </a>
        </div>
    </div>
</div> -->


<div>
    <section class="hero-section d-flex">
        <div class="cover-img" style="background-image: url(&quot;https://cdn.artlist.io/artlist-images/200101_Tristan_Barton_-_C2_-_2.5K.jpg&quot;);"></div>
        <div class="container">
            <div class="row">
                <div class="col col-sm-3">
                    <img src="https://cdn.artlist.io/artlist-images/44797_Ian-Post-Magnetism-A.jpg" width="100 " height="100" alt="Magnetism">
                </div>
                <div class="col col-sm-3">
                    <img src="https://cdn.artlist.io/artlist-images/44797_Ian-Post-Magnetism-A.jpg" width="100" height="100" alt="Magnetism">
                </div>

                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>

                <div class="col col-sm-3">
                    <img src="https://cdn.artlist.io/artlist-images/44797_Ian-Post-Magnetism-A.jpg" width="100" height="100" alt="Magnetism">
                </div>
                <div class="col col-sm-3">
                    <img src="https://cdn.artlist.io/artlist-images/44797_Ian-Post-Magnetism-A.jpg" width="100" height="100" alt="Magnetism">
                </div>
            </div>
        </div>
    </section>
</div>