<igx-list-item [style.width]="'calc(100% - 18px)'" igxRipple="pink" igxRippleTarget=".igx-list__item">
    <igx-avatar igxListThumbnail [src]="item.avatar" roundShape="true"></igx-avatar>

    <div class="play-icon">
        <igx-icon><i class="fas fa-play"></i></igx-icon>
    </div>
    <div class="name">
        <span igxListLineTitle>{{ item.songName}}</span>
    </div>
    <span igxListLineTitle></span>



    <div (click)="deleteCartItem(item)">
        <igx-icon><i class="fas fa-times"></i></igx-icon>
    </div>
</igx-list-item>