<title>A simple, clean, and responsive HTML invoice template</title>

<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img src="assets/images/logo.svg" style="width: 100%; max-width: 300px" />
                        </td>

                        <td>
                            Invoice #: 123<br /> Created: {{ date }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            {{ invoice.shippingAddress.line1 }} <br /> {{ invoice.shippingAddress.city }} <br /> {{ invoice.shippingAddress.state }} <br /> Country Code: {{ invoice.shippingAddress.countryCode }}<br /> Postal Code: {{ invoice.shippingAddress.postalCode
                            }}
                        </td>

                        <td>
                            Payer:<br /> {{ invoice.shippingAddress.recipientName }} <br /> {{ invoice.payerInfo.email }} <br />
                            <!-- <invoice class="payerInfo"></invoice>.email}} -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>Payment Method</td>
            <td></td>
        </tr>

        <tr class="details">
            <td>Paypal</td>
        </tr>

        <tr class="heading">
            <td>Item</td>

            <td>Price</td>
        </tr>

        <tr class="item" *ngFor="let item of invoice.transaction.itemList.items">
            <td>
                {{ item.name }}
            </td>

            <td>${{ item.price }}</td>
        </tr>

        <tr class="total">
            <td></td>

            <td>Total: {{ invoice.transaction.amount.total }}</td>
        </tr>
        <div *ngIf="token">
            <button class="apple-pay-button apple-pay-button-white-with-line" (click)="excutePayment()">
        Pay Now
      </button>
        </div>
    </table>
</div>